@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scale: 1;
}

.document {
    width: 200vh;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.document-body {
    z-index: 1;
    width: 80%;
    height: auto;
    min-width: 30%;
    max-width: 1440px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

/* global classes styles */

.no-select {
    user-select: none;
}

/* header styles */

header {
    width: 100%;
    height: auto;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}


nav {
    width: 99%;
    height: 90px;
    display: flex;
    position: fixed;
    background-color: rgba(17, 55, 64, 0.9);
    margin: 10px;
    border-radius: 10px;
}

.nav-logo, .nav-div-login, .nav-links {
    display: flex;
}

.nav-logo, .nav-div-login {
    width: 20%;
    height: 100%;
}

.nav-logo {
    justify-content: center;
    align-items: center;
}

.logo {
    cursor: pointer;
    font-size: 37px;
    display: flex;
    text-decoration: none;
}

.logo-part-1 {
    color: #f28322;
}

.logo-part-2 {
    color: #f2bb27;
}

.nav-links {
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-links > .nav-btn {
    padding: 10px 25px;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ddd;
    transition-duration: .35s;
}

.nav-links > .nav-btn:hover {
    color: #fff;
}

.nav-links:hover > .nav-btn:not(:hover) {
    color: #bbb;
}

.nav-login, .nav-register, .backslash {
    font-size: 22px;
    padding: 10px 5px;
    color: #ccc;
    text-decoration: none;
}

.nav-div-login  {
    justify-content: center;
    align-items: center;
}

/* motivation section */

.section-motivation {
    width: 100%;
    height: auto;
    padding-top: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.motivation-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-motivation :is(:nth-child(1), :nth-child(4), :nth-child(5)) {
    flex-direction: column;
}

.motivation-text-box {
    display: flex;
    align-items: center;
    width: 70%;
}

.motivation-box img {
    height: auto;
    width: auto;
    max-width: 85%;
    margin: 20px;
    border-radius: 15px;
}

.motivation-text-box h4 {
    padding: 30px;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.motivation-text-box p {
    font-size: 20px;
    text-align: center;
    letter-spacing: .7px;
}

/* Section with 7 random topics */

.section-topic {
    width: 100%;
    height: auto;
}

.section-topic h2 {
    text-align: center;
    font-size: 40px;
    margin: 45px;
    color: #345;
}

.topic-row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

.topic-box p {
    font-size: 27px;
    font-family: "Open Sans", sans-serif;
}

.topic-box i {
    font-size: 40px;
    padding: 30px;
}

.topic-row a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    width: 30%;
    max-width: 32%;
    min-height: 140px;
    height: 22vh;
    max-height: 450px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px 15px;
    text-decoration: none;
    color: #345;
    border-radius: -102px;
}

/* category section */

.section-category {
    width: 100%;
    height: auto
}

.section-category > div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-category h4 {
    text-align: center;
    font-size: 35px;
    margin: 75px 0 50px 0;
}

.category-box {
    width: 340px;
    height: 150px;
    margin: 24px;
    display: flex;
    /* position: fixed; */
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 27px;
    text-decoration: none;
    filter: brightness(.68);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: .5s;
}

.category-box p {
    font-size: 33px;
    font-weight: bold;
    color: white;
    transition-duration: .5s;
    text-align: center;
}

.category-box:hover {
    filter: brightness(.97);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.category-box:is(:nth-child(2), :nth-child(4), :nth-child(6), :nth-child(12), :nth-child(15)) p {
    color: black;
}

/* about section */

.about {
    height: auto;
    display: flex;
    width: 100%;
    padding-top: 50px;
}

.about div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about hr {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 60px;
    border-radius: 50%;
    height: 5px;
    background-color: #333;
}

.about h3 {
    font-size: 39px;
}

.about h4 {
    margin-top: 20px;
    font-size: 38px;
}

.about :is(h3, h4) {
    word-spacing: 5px;
    text-align: center;
    color: #333;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
}

.about p {
    font-size: 23px;
    margin: 30px 20px;
    width: 65%;
    letter-spacing: .9px;
    line-height: 30px;
    text-align: center;
    font-style: italic;
    font-family: 'Catamaran', sans-serif;
}

/* comments section */

.section-comments {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.section-comments h3 {
    font-size: 39px;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    line-height: 50px;
    color: #333;
    margin: 30px;
}

.section-comments section {
    height: 200px;
    width: 100%;
    margin: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.section-comments h4 {
    word-spacing: 3px;
}

.section-comments p {
    letter-spacing: .7px;
    font-size: 18px;
    margin: 30px;
}

.section-comments div {
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    transition-duration: 1s;
    align-items: center;
    overflow: hidden;
    position: relative;
    display: flex;
}

#comments-write-own-opinion-btn {
    background-color: #41913a;
    border: none;
    height: 70px;
    width: 270px;
    font-size: 25px;
    border-radius: 4px;
    display: block;
    position: absolute;
    transition-duration: .45s;
    top: 10px;
    color: #f5f0ca;
}

#comments-write-own-opinion-btn:hover {
    border-radius: 18px;
    background-color: #3f753a;
    color: #fff;
}

#comments-form {
    position: relative;
    height: 400px;
    width: 500px;
    display: none;
}