@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.document {
    width: 200vh;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.document-body {
    z-index: 1;
    width: 80%;
    height: auto;
    min-width: 30%;
    max-width: 1440px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* global classes styles */

.no-select {
    user-select: none;
}

/* header styles */

header {
    width: 100%;
    height: auto;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

nav {
    width: 99%;
    height: 90px;
    display: flex;
    position: fixed;
    background-color: rgba(17, 55, 64, 0.9);
    margin: 10px;
    border-radius: 10px;
}

.nav-logo, .nav-div-login, .nav-links {
    display: flex;
}

.nav-logo, .nav-div-login {
    width: 20%;
    height: 100%;
}

.nav-logo {
    justify-content: center;
    align-items: center;
}

.logo {
    cursor: pointer;
    font-size: 37px;
    display: flex;
    text-decoration: none;
}

.logo-part-1 {
    color: #f28322;
}

.logo-part-2 {
    color: #f2bb27;
}

.nav-links {
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-links > .nav-btn {
    padding: 10px 25px;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ddd;
    transition-duration: .35s;
}

.nav-links > .nav-btn:hover {
    color: #fff;
}

.nav-links:hover > .nav-btn:not(:hover) {
    color: #bbb;
}

.nav-login, .nav-register, .backslash {
    font-size: 22px;
    padding: 10px 5px;
    color: #ccc;
    text-decoration: none;
}

.nav-div-login  {
    justify-content: center;
    align-items: center;
}

/* motivation section */

.section-motivation {
    width: 100%;
    height: auto;
    padding-top: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.motivation-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-motivation :is(:nth-child(1), :nth-child(4), :nth-child(5)) {
    flex-direction: column;
}

.motivation-text-box {
    display: flex;
    align-items: center;
    width: 70%;
}

.motivation-box img {
    height: auto;
    width: auto;
    max-width: 85%;
    margin: 20px;
    border-radius: 15px;
}

.motivation-text-box h4 {
    padding: 30px;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.motivation-text-box p {
    font-size: 20px;
    text-align: center;
    letter-spacing: .7px;
}

/* Section with 7 random topics */

.section-topic {
    width: 100%;
    height: auto;
}

.section-topic h2 {
    text-align: center;
    font-size: 40px;
    margin: 45px;
    color: #345;
}

.topic-row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

.topic-box p {
    font-size: 27px;
    font-family: "Open Sans", sans-serif;
}

.topic-box i {
    font-size: 40px;
    padding: 30px;
}

.topic-row a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    width: 30%;
    max-width: 32%;
    min-height: 140px;
    height: 22vh;
    max-height: 450px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px 15px;
    text-decoration: none;
    color: #345;
    border-radius: -102px;
}

/* category section */

.section-category {
    width: 100%;
    height: auto
}

.section-category > div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-category h4 {
    text-align: center;
    font-size: 35px;
    margin: 75px 0 50px 0;
}

.category-box {
    width: 340px;
    height: 150px;
    margin: 24px;
    display: flex;
    /* position: fixed; */
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 27px;
    text-decoration: none;
    filter: brightness(.68);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: .5s;
}

.category-box p {
    font-size: 33px;
    font-weight: bold;
    color: white;
    transition-duration: .5s;
    text-align: center;
}

.category-box:hover {
    filter: brightness(.97);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.category-box:is(:nth-child(2), :nth-child(4), :nth-child(6), :nth-child(12), :nth-child(15)) p {
    color: black;
}

/* about section */

.about {
    height: auto;
    display: flex;
    width: 100%;
    padding-top: 50px;
}

.about div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about hr {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 60px;
    border-radius: 50%;
    height: 5px;
    background-color: #333;
}

.about h3 {
    font-size: 39px;
}

.about h4 {
    margin-top: 20px;
    font-size: 38px;
}

.about :is(h3, h4) {
    word-spacing: 5px;
    text-align: center;
    color: #333;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
}

.about p {
    font-size: 23px;
    margin: 30px 20px;
    width: 65%;
    letter-spacing: .9px;
    line-height: 30px;
    text-align: center;
    font-style: italic;
    font-family: 'Catamaran', sans-serif;
}

/* comments section */

.section-comments {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 630px;
    transition-duration: .2s;
}

.section-comments h3 {
    font-size: 39px;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    line-height: 50px;
    color: #333;
    margin: 30px;
}

.section-comments h4 {
    margin: 10px;
    font-size: 36px;
}

.section-comments section {
    height: 200px;
    min-width: 1200px;
    width: 1350px;
    max-width: 1500px;
    /* width: 100%; */
    /* width: auto; */
    margin: 25px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    /* overflow: hidden; */
    position: relative;
}

.section-comments-section {
    width: 100%;
}

.section-comments-section > button {
    font-size: 55px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    border: none;
    background-color: #fff;
    padding: 15px;
    transition-duration: .55s;
    
}

.comments-inactive-button {
    color: #c2bebe;
}

.comments-inactive-button:hover {
    color: #a09797;
}

.comments-active-button {
    color: #333;
}

.comments-active-button:hover {
    color: #646464;
}

.section-comments-section > .button-chevron-left {
    left: -5%;
}

.section-comments-section > .button-chevron-right {
    left: 105%;
}

#comments-div {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    margin-left: 10px;
    overflow: hidden;
}

.reviews {
    text-wrap:wrap;
    height: 100%;
    width: 450px;
    max-width: 500px;
    min-width: 450px;
    transition-duration: .5s;
}

.reviews:hover blockquote {
    font-size: 16.5px;
}

.reviews-div-profile, .reviews-div-profile-info {
    width: 500%;
    min-width: 50%;
    height: 100%;
    display: flex;
    margin-top: 30px;
}

.reviews-div-profile-info {
    flex-direction: column;
    align-content: flex-end;
}

.reviews blockquote {
    display: block;
    max-width: 75%;
    text-align: center;
    margin: 0 auto;
    text-transform: capitalize;
    font-style: italic;
    color: #443;
    margin-top: 20px;
    transition-duration: .5s;
}

.reviews-profile-wrapper {
    display: flex;
    height: 50%;
    width: 100%;
}

.reviews-stars {
    margin: 0px;
    padding: 0;
}

.reviews-user-profile-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 9px 20px 0 70px;
}

.reviews-user-name {
    font-size: 17px;
    margin-top: 15px;
}

.reviews-date {
    margin: 10px 50px 5px 20px;
    font-size: 15px;
    text-align: end;
}

.reviews-div-profile-info span {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: 52px;
}

.section-comments h4 {
    word-spacing: 3px;
}

.section-comments p {
    letter-spacing: .7px;
}

.section-comments > div {
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    transition-duration: 1s;
    align-items: center;
    overflow: hidden;
    position: relative;
    display: flex;
}

#comments-write-own-opinion-btn {
    background-color: #41913a;
    border: none;
    height: 70px;
    width: 270px;
    font-size: 25px;
    border-radius: 17px;
    display: block;
    position: absolute;
    top: 0;
    transition-duration: .45s;
    margin-top: 25px;
    color: #f5f0ca;
}

#comments-write-own-opinion-btn:hover {
    border-radius: 5px;
    background-color: #478841;
    color: #fff;
}

#comments-form {
    position: relative;
    width: 100%;
    height: 350px;
    display: none;
}

#comments-form form {
    width: 100%;
    height: 100%;
}

#comments-form div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#comments-form textarea  {
    border: 1px solid black;
    border-radius: 13px;
    position: absolute;
    top: 30%;
    left: -100%;
    transform: translate(-50%, -50%);
    transition-duration: .55s;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    resize: none; 
}

#comments-form span {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translateX(-50%);
}

#comments-form input {
    appearance: none;
}

.comments-label {
    z-index: 100;
    font-size: 0;
    transition-duration: .55s;
    padding: 5px;
    color: #35322c;
}

.comments-star-inactive {
    color: #333;
}

.comments-star-active, .comments-star-active-click {
    color: gold;
}

#comments-form button {
    margin: 10px;
    padding: 20px 30px;
    position: absolute;
    top: 85%;
    left: 150%;
    transform: translate(-50%, -50%);
    transition-duration: .55s;
}

.publish-review-button {
    padding: 10px 30px;
    border: none;
    background-color: #41913a;
    transition-duration: .5s;
    color: white;
    font-size: 20px;
    border-radius: 15px;
}

.publish-review-button:hover {
    background-color: #478841;
    border-radius: 5px;
}
