@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* global classes styles */

.no-select {
    user-select: none;
}

/* header styles */

header {
    width: 100%;
    height: auto;
    z-index: 100;
}

nav {
    width: 99%;
    height: 90px;
    display: flex;
    background-color: rgba(17, 55, 64, 0.9);
    position: fixed;
    margin: 10px;
    border-radius: 10px;
}

.nav-logo, .nav-div-login, .nav-links {
    display: flex;
}

.nav-logo, .nav-div-login {
    width: 20%;
    height: 100%;
}

.nav-logo {
    justify-content: center;
    align-items: center;
}

.logo {
    cursor: pointer;
    font-size: 37px;
    display: flex;
    text-decoration: none;
}

.logo-part-1 {
    color: #f28322;
}

.logo-part-2 {
    color: #f2bb27;
}

.nav-links {
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-links > .nav-btn {
    padding: 10px 25px;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ddd;
    transition-duration: .35s;
}

.nav-links > .nav-btn:hover {
    color: #fff;
}

.nav-links:hover > .nav-btn:not(:hover) {
    color: #bbb;
}

.nav-login, .nav-register, .backslash {
    font-size: 22px;
    padding: 10px 5px;
    color: #ccc;
    text-decoration: none;
}

.nav-div-login  {
    justify-content: center;
    align-items: center;
}

/* motivation section */

.section-motivation {
    width: 100%;
    height: auto;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 15px;
}

.motivation-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-motivation :is(:nth-child(1), :nth-child(4), :nth-child(5)) {
    flex-direction: column;
}

.motivation-text-box {
    display: flex;
    align-items: center;
    width: 70%;
}

.motivation-box img {
    height: 100%;
    width: auto;
    margin: 20px;
    border-radius: 15px;
}

.motivation-text-box h4 {
    padding: 30px;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.motivation-text-box p {
    font-size: 20px;
    text-align: center;
    letter-spacing: .7px;
}

/* Section with 7 random topics */

.section-topic {
    width: 100%;
    height: 900px;
}

.section-topic h2 {
    text-align: center;
    font-size: 40px;
    margin: 40px;
    color: #345;
}

.topic-row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

.topic-box p {
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
}

.topic-box i {
    font-size: 40px;
    padding: 30px;
}

.topic-row a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 21vh;
    border: 1px solid black;
    margin: 20px 15px;
    text-decoration: none;
    color: #345;
    border-radius: -102px;
}

/* category section */

.section-category {
    width: 80%;
    height: 1170px;
    margin-top: 50px;
}

.section-category div {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-category h4 {
    text-align: center;
    font-size: 35px;
    margin: 50px;
}

.category-box {
    width: 340px;
    height: 150px;
    margin: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 27px;
    text-decoration: none;
    filter: brightness(.7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: .5s;
}

.category-box p {
    font-size: 33px;
    font-weight: bold;
    color: white;
    transition-duration: .5s;
    text-align: center;
}

.category-box:hover {
    filter: brightness(.99);
    border: 2px solid rgba(255, 255, 255, .1);
}

.category-box:is(:nth-child(3), :nth-child(7), :nth-child(11), :nth-child(23), :nth-child(29)) p {
    color: black;
}

/* about section */

.about {
    height: 630px;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.about div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about hr {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 80px;
    border-radius: 50%;
    height: 5px;
    background-color: #333;
}

.about h3 {
    font-size: 39px;
    word-spacing: 5px;
    color: #333;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
}

.about p {
    font-size: 23px;
    margin: 30px 20px;
    width: 65%;
    letter-spacing: .9px;
    line-height: 30px;
    text-align: center;
    font-style: italic;
    font-family: 'Catamaran', sans-serif;
}