/* category section */

.section-category {
    width: 100%;
    height: auto
}

.section-category > div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-category h4 {
    text-align: center;
    font-size: 35px;
    margin: 75px 0 50px 0;
}

.category-box {
    width: 340px;
    height: 150px;
    margin: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 27px;
    text-decoration: none;
    filter: brightness(.68);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: .5s;
}

.category-box p {
    font-size: 33px;
    font-weight: bold;
    color: white;
    transition-duration: .5s;
    text-align: center;
}

.category-box:hover {
    filter: brightness(.97);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.category-box:is(:nth-child(2), :nth-child(4), :nth-child(6), :nth-child(12), :nth-child(15)) p {
    color: black;
}

