
.document-body {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-quiz {
    min-width: 65%;
    width: 70%;
    max-width: 75%;
}

h1 {
    font-size: 30px;
    color: rgb(53, 52, 52);
    line-height: 55px;
}

h1 span {
    margin: 10px;
}

hr {
    width: 130%;
    margin-left: -15%;
}

.question-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-title {
    width: 90%;
    height: 70px;
    max-height: 150px;
    margin: 50px 0 20px 0;
    background-color: #f9a101;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.question-title h3 {
    margin: 22px;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.question-title h3 p {
    margin: 4px;
}

.no-select-info {
    background-color: rgb(24, 165, 158);
    padding: 10px 21px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 88%;
    color: #eeeeee;
}

.letter {
    margin: 4px 4px 4px 13px;
    font-weight: 600;
}

.answer-box {
    min-height: 60px;
    width: 88%;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #ffec5c;
    box-shadow: rgba(0, 0, 0, 0.1) 10px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition-duration: .45s;
    border-radius: 13px;
}

.answer-box p {
    height: 100%;
    display: flex;
    align-items: center;    
    line-height: 25px;
    padding: 6px;
}

.correct-answer, .correct-answer-none {
    background-color: rgb(28, 156, 28);
}

.incorrect-answer {
    background-color: red;
}

#key-wrapper {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#key-info {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    font-size: 18px;
    color: #232;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    height: 20px;
    text-align: center;
}

#arrow {
    transform-origin: center;
    transition: transform 0.5s;
    margin-right: 10px;
}

#div-key {
    position: absolute;
    top: -100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition-duration: .5s;
}

footer {
    margin-top: 100px;
}